@use 'custom';

// Import the components
@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';
@use 'components/user-persona';
@use 'components/project-card';
@use 'components/user-journey-map';
@use 'components/donut-chart';
@use 'components/tldr-aside';

// Import the sections
@use 'sections/navbar';
@use 'sections/hero-section';
@use 'sections/footer';
@use 'sections/my-work';
