@use '../custom' as *;

.footer{
    padding-top:1rem;
    background-color: $primary-700;
    font-weight:500;
    color:$white;

    // Style the footer links
        a {
            text-decoration: none;
            color: $white;
    
            &:hover {
                text-decoration: underline;
            }
    
            &:active {
                text-decoration: none;
            }
        }
}

.socials-holder{
    font-size:2rem;
}

