@use '../custom' as *;

// ensure footer remains at the bottom of the page
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer{
    margin-top:auto;
    padding-top:1rem;
    background-color: $primary-900;
    font-weight:400;
    color:$white;

    .nav-link {
            color: $white !important;
            font-size: var(--fs-400);
            font-weight: 500;
            padding: 0;
            margin: auto 1rem;
            border-bottom: 2px solid transparent;
    
            &:hover {
                padding:0;
                color:$secondary-100 !important;
                border-bottom: 2px solid $secondary-100;
            }
    
        }

}

.socials-holder{
    font-size: var(--fs-600);

    a{
        color:$white;

        &:hover{
            color:$secondary-100;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        }
    }
}

