@use '../custom' as *;
@use '../components/mixins' as *;

.hero{
    margin:10rem 0 3rem 0;
    height:100%;
    width:100%;
    background-color: $white;
    color:$primary;

    h1{
        -webkit-text-stroke: 3px $primary;
    }
    
    span{
        &.text-transparent{
            color:$white;
            -webkit-text-stroke: 3px $primary;
        }
    }
}
