@use '../custom' as *;
@use '../components/mixins' as *;

.portfolio-work{
    padding:0;
    min-height:50vh;
    width:100%;
    background-color: $white;
    margin: 2rem auto 4rem auto;

    button{
        &.nav-link{
            color:$white;
            background-color: $primary;
        }

        &.nav-link.active{
            color:$primary;
            background-color: $white;
            border-color: $primary;
        }
    }

}