@use '../custom' as *;
@use '../components/mixins' as *;

.portfolio-work{
    padding:4rem 0;
    min-height:60vh;
    width:100%;
    background-color: $white;
    margin: 2rem auto 4rem auto;
    // text-align:center;
    color:$primary;

    button{
        &.nav-link{
            color:$white;
            background-color: $primary;
        }

        &.nav-link.active{
            color:$primary;
            background-color: $white;
            border-color: $primary;
        }
    }

    .img-fluid{
        height:100%;
        object-fit: cover;
    }
}