@use '../custom' as *;

.menu{
    background:$white;
    font-weight:800;
    // font-family: 'Oswald', sans-serif;

    .navbar-nav{
        @include media-breakpoint-down(lg) {
                &:last-child {
                    border-bottom: 1px solid $primary-100;
                }
        }

        .nav-link {
                color: $primary !important;
                font-size: var(--fs-400);
                font-weight: 500;
                padding: 0;
                margin: auto 1rem;
                border-bottom: 2px solid transparent;
        
                &:hover {
                    color: $secondary !important; // 
                    border-bottom: 2px solid $secondary;
                }

                @include media-breakpoint-down(lg) {
                    border-top: 1px solid $primary-100;
                        margin: 0;
                        padding: 0.5rem;
                    
                        &:hover {
                            background-color: $secondary;
                            color: white !important;
                    }
                }
        }

    }

        .navbar-brand {
            color: $primary !important;
            font-size: var(--fs-500);
            font-weight: 800;
            margin-left: 0;
            border-bottom: none;
    
            &:hover {
                color: $secondary !important;
                border-bottom: none;
            }
    
    
            span {
                &.text-transparent {
                    color: $secondary;
                }
            }
        }

    .navbar-toggler{
        background-color:transparent;
        border:1px solid transparent;

        &:focus{
            box-shadow:0 0 0 0;
        }
   }

   

//    Change colour of the hamburger toggle lines (svg background stroke)
   .navbar-toggler-icon {
       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(22, 50, 46)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   }

}

