@use '../custom' as *;

.menu{
    background:$light;
    a{
        color:$indigo !important;
        font-weight:600;
        padding: auto 0.7rem !important;
        margin: auto 0.4rem;
        border-bottom:2px solid transparent;

         &:hover{
            color:$secondary !important;
            font-weight:600;
            border-bottom:2px solid $secondary;
        }
    }

    .navbar-toggler{
    background-color:$secondary;
    border:1px solid $pink-700;
   }

    &.portfolio{

        a{
            font-family: 'Teko', sans-serif;
            font-size:2rem;
            color:$primary !important;
            font-weight:300;
            margin: auto 0.5rem;
            border-bottom:2px solid transparent;

            &:hover{
                color:$secondary !important;
                font-weight:300;
                border-bottom:2px solid $secondary;
            }
        }

        .navbar-toggler{
            background-color:$primary;
            border:1px solid;
        }
    }

}

