@use '../custom' as *;

.menu{
    background:$white;
    a{
        font-weight:600;
        padding: auto 0.5rem !important;
        margin: auto 0.5rem;
        border-bottom:2px solid transparent;

         &:hover{
            color:$secondary !important;           // 
            border-bottom:2px solid $secondary;
        }
    }

    .navbar-toggler{
        background-color:$secondary;
        border:2px solid $pink-700;
   }

    &.portfolio{        

        a{
            font-family: 'Oswald', sans-serif;
            font-size:1.25rem;
            color:$primary !important;
            font-weight:500;
            margin: auto 0.5rem;
            border-bottom:2px solid transparent;

            &:hover{
                color:$secondary !important;
                border-bottom:2px solid $secondary;
            }
        }

        .navbar-toggler{
            background-color:$secondary;
            border:2px solid $secondary-700;
        }

        .navbar-brand{
            font-size:1.8rem;
            font-weight:600;
            letter-spacing: 2px;
            border-bottom: none;
            -webkit-text-stroke: 1.5px $primary;
            margin-left:0;
            padding-left:0;
            
            &:hover{
                font-weight: 600;
                color:$primary !important;
                border-bottom:none;
            }


            span{
                &.text-transparent{
                    color:$white;
                    -webkit-text-stroke: 1.5px $primary;
                }
            }
        }

        
    }

}

