@use '../custom' as *;

.testimonials{
    position:relative;
    padding: 0 0 5rem 0;
    background-color: $light;
    color:$primary;

    &__slide{
       height:auto;
       text-align:center;
       margin-bottom:1rem auto;
       
    figure{
        padding:2rem 1.25rem;
       }
    
    blockquote{
        font-size:2rem;
        line-height:3.5rem;
        height:100%;
        quotes: "“" "”" "‘" "’"; 

        &::before{
            content: open-quote;
        }

        &::after{
            content: close-quote;
        }
    }

    figcaption{
        font-size:1.4rem;
        text-align:center;
    }

    }

    
    &__trust{
        height:auto;
        text-align:center;
        max-width: 100%;
        text-align:center;
        margin-top: 1rem auto;
        position:relative;
        
        img{
         height:100%;
        }

        .ratings{
            font-size:2.4rem;
            padding-bottom:1rem;
        }

        .reviews{
            font-size:1.2rem;
        }
    }

}