@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

// colour variables
$primary: #00695c;
$fail-colour: #c62828;
$case-portfolio-colour: #7b1fa2;
$progress: #26a69a;

$journey-step-1: #0097a7;
$journey-step-2: #9c27b0;
$journey-step-3: #5f4339;
$journey-step-4: #3f51b5;
$journey-step-5: #d63384;
$journey-step-6: #4caf50;
$emotional-sad: #dc3545;
$emotional-happy: #198754;
$emotional-mid: #fd7e14;

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  color: #004d40;
  margin: 0;
  padding-top: 60px;
  @include media-breakpoint-down(sm) {
    //allow for tab bar on mobile
    padding-bottom: 60px;
  }
}

a,
a:hover {
  color: $primary;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2,
h3 {
  font-weight: 500;
}

h4,
h5 {
  font-weight: 400;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

ul {
  margin-bottom: 30px;
}

p.lead {
  margin-bottom: 30px;
}

.chevron-wrapper {
  font-size: 3rem;
  margin-bottom: 30px;
}

.main-content {
  min-height: calc(100vh - 220px);
  @include media-breakpoint-down(sm) {
    min-height: calc(100vh - 300px);
  }
}

/*user journey map and story*/
.chevron-section {
  color: white;
}

.journey-step-1 {
  background-color: $journey-step-1;
}

.journey-step-2 {
  background-color: $journey-step-2;
}

.journey-step-3 {
  background-color: $journey-step-3;
}

.journey-step-4 {
  background-color: $journey-step-4;
}

.journey-step-5 {
  background-color: $journey-step-5;
}

.journey-step-6 {
  background-color: $journey-step-6;
}

.card-footer {
  color: #fff;
}

#portfolio-ideate .card-header {
  background-color: $primary;
  color: #ffffff;
}

ul,
ol {
  font-size: 1rem;
}

ul li,
ol li {
  margin-bottom: 0.4rem;
}

.navbar {
  background-color: #fff;
  height: 80px;
  margin: 0;
}

.navbar-brand {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 700;
  padding: 0;
  color: $primary;
}

.top-bar .nav-item {
  font-size: 1rem;
  line-height: 1.5rem;
  color: $primary;
}

.top-bar a.nav-item.nav-link {
  padding: 0;
  margin-bottom: 4px;
  color: $primary;
}

.top-bar a.nav-item.nav-link:hover {
  border-bottom: 3px solid;
  margin-bottom: 0;
  padding-bottom: 0;
}

.top-bar a.nav-item.active {
  font-weight: 700;
}

.tab-bar {
  border-top: 1px solid lightgrey;
  background-color: $primary;
}

.tab-bar .nav-item {
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align: center;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
  color: #ffffff;
}

.progress {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 4px;
  background: #e0f2f1;
  border-radius: 0;
  position: fixed;
  z-index: 1100;
  top: 80px;
}

.progress-bar {
  background-color: $progress;
  width: 0%;
  border-radius: 0;
}

.jumbotron {
  margin-bottom: 0;
  margin-top: 0;
  background-color: #ffffff;
}

.jumbo-about {
  background-color: #fff;
}

.bg-primary {
  background-color: $primary !important;
}

.btn-outline-light {
  color: #ffffff !important;
  border-color: #ffffff;
}

.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active,
.btn-outline-light.active,
.open > .dropdown-toggle.btn-outline-white {
  color: $primary !important;
  background-color: #ffffff;
}

.btn-outline-primary {
  color: #ffffff !important;
  background-color: $primary !important;
  border-color: $primary;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
  color: $primary !important;
  background-color: #ffffff !important;
  border-color: $primary;
}

/*add additional margin to allow for the footer on bottom content*/
.bottom-row {
  margin-bottom: 10vh;
}

/*footer*/
.footer {
  height: 160px;
  background-color: #ffffff;
  position: absolute;
  margin-bottom: 0;
  width: 100%;
  @include media-breakpoint-down(sm) {
    height: 240px;
  }
}

.social-wrapper {
  font-size: 2rem;
}

.section-header {
  border-bottom: 4px solid;
  padding-bottom: 5px;
  margin-bottom: 0;
}

section {
  margin-bottom: 60px;
}

/*speech bubble styling*/

.speech-bubble {
  position: relative;
  border-radius: 1rem !important;
  background-color: $primary;
  color: #ffffff;
  padding: 15px;
}

.speech-bubble-bottom-left:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 0;
  height: 0;
  border: 1.781em solid transparent;
  border-top-color: $primary;
  border-bottom: 0;
  border-left: 0;
  margin-left: -0.891em;
  margin-bottom: -1.781em;
}

.speech-bubble-bottom-right:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 90%;
  width: 0;
  height: 0;
  border: 1.781em solid transparent;
  border-top-color: #000000;
  border-bottom: 0;
  border-right: 0;
  margin-left: -0.891em;
  margin-bottom: -1.781em;
}

.meter {
  height: 1vh;
  position: relative;
  background: #ccc;
  border-radius: 25px;
}

.meter > span {
  display: block;
  height: 1vh;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $primary;
  position: relative;
  overflow: hidden;
}

.meter .sad {
  background-color: $emotional-sad;
}

.meter .happy {
  background-color: $emotional-happy;
}

.meter .mid {
  background-color: $emotional-mid;
}

.chart-holder {
  position: relative;
}

.chart-score {
  position: absolute;
  font-size: 1.6rem;
  top: 40%;
  right: 0;
  bottom: 25%;
  left: 0;
}

#portfolio-other-studies .card-deck .card,
#portfolio-studies .card-deck .card {
  @include media-breakpoint-up(md) {
    max-width: 46%;
  }
}

.card-img-top {
  position: relative;
}

.soon {
  position: absolute;
  top: 15%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.error {
  color: $fail-colour;
  font-style: italic;
}

.form-group label {
  font-size: 1.1rem;
  margin-top: 10px;
}

.btn.rounded-pill {
  min-width: 140px;
  max-width: 340px;
}
