@use '../custom' as *;

.btn-secondary{
    font-family: 'Oswald', sans-serif;
    color:white;
    background-image: linear-gradient(140deg, $secondary-100 0%, $secondary-300 84%);
    // background-color: $secondary;
    font-weight:600;
    border: 1px solid $secondary-800;

    &:hover{
        background-image: none;
        background-color: $white !important;
        color:$secondary;
        border: 1px solid $secondary-700;
    }
}