@use '../custom' as *;

.btn-secondary{
    font-family: 'Oswald', sans-serif;
    color:white;
    background-image: linear-gradient(140deg, $secondary-100 0%, $secondary-300 84%);
    font-weight:400;
    font-size:1rem;
    border: 1px solid $secondary-800;

    &:hover{
        background-image: none;
        background-color: $white !important;
        color:$secondary;
        border: 1px solid $secondary-700;
    }
}

.contact-btn{
    padding: 0.25rem 1rem !important;
    font-weight:400;
    margin:auto 1rem;
}