@use '../custom' as *;

.btn-secondary{
    color:white;
    background-image: linear-gradient(180deg, $secondary-100 0%, $secondary-400 95%);
    font-weight:00;
    font-size: var(--fs-400);
    border: 1px solid $secondary-800;
    border-radius:8px;
    padding: auto 0.5rem !important;

    &:hover{
        background-image: none;
        background-color: $white !important;
        color:$secondary;
        border: 1px solid $secondary-700;
    }
}

.contact-btn{
    font-weight:400;
    margin:auto 1rem;
}