@use '../custom' as *;

.donut-chart{
    width:80%;
    font-size:16px;
    margin:0 auto;
    animation:donut-fade 1s;

    .donut-ring{
        stroke:#ccc;
    }

    .donut-segment{
        transform-origin:center;
        stroke:$secondary;
        animation: donut-segment 2s;
    }

        .donut-text {
            font-family: Arial, Helvetica, sans-serif;
            fill: $primary;
        }
        
    .donut-label {
            font-size: 0.5rem;
            font-weight: 700;
            line-height: 1;
            fill: #000;
            transform: translateY(0.25em);
        }
    
        .donut-percent {
            font-size: 0.5rem;
            line-height: 1;
            transform: translateY(0.5em);
            font-weight: bold;
        }
}

@keyframes donut-fade {

    0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
}

@keyframes donut-segment {
    0% {
        stroke-dasharray: 0, 100;
    }

    100% {
        stroke-dasharray: 62.5, 37.5;
    }
}