@use '../custom' as *;

.donut-chart{
    width:80%;
    font-size: var(--fs-400);
    margin:0 auto;
    animation:donut-fade 1s;

    .donut-ring{
        stroke:#ccc;
    }

    .donut-segment{
        transform-origin:center;
        stroke:$secondary;  
    }

    .donut-segment-1{
        animation: donut-segment-1 2s;
    }

    .donut-segment-2 {
        animation: donut-segment-2 2s;
    }

    .donut-text {
        font-family: Arial, Helvetica, sans-serif;
        fill: $primary;
    }
        
    .donut-label {
            font-size: 0.4rem;
            font-weight: 700;
            line-height: 1;
            fill: #000;
            transform: translateY(0.25em);
        }
    
        .donut-percent {
            font-size: 0.4rem;
            line-height: 1;
            transform: translateY(0.5em);
            font-weight: 700;

            @include media-breakpoint-up(xxl) {
                font-size: 0.3rem;
            }
        }
}

@keyframes donut-fade {

    0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
}

@keyframes donut-segment-1 {
    0% {
        stroke-dasharray: 0, 100;
    }

    100% {
        stroke-dasharray: 62.5, 37.5;
    }
}

@keyframes donut-segment-2 {
    0% {
        stroke-dasharray: 0, 100;
    }

    100% {
        stroke-dasharray: 90, 10;
    }
}