@use '../custom' as *;

  h1, h2 {
      display:flex;
      align-items:center;

      .title-icon {
          border: 5px solid $primary;
          border-radius: 8px;
          -webkit-text-stroke:0 !important;
          margin-right: 1rem;
      }

      .cv-icon {
          -webkit-text-stroke: 0 !important;
          border: 5px solid;
          border-radius: 8px;
          padding: 0.5rem;
          margin-right: 1rem;

          &.text-white{
            background-color: $primary;
            color: white;
          }
      }
  }