@use '../custom' as *;

  h1, h2, h3 {
      
    &:not(.portfolio-title--intro){
      display:flex;
      align-items:center;
    }

      .title-icon {
          border: 3px solid;
          border-radius: 8px;
          -webkit-text-stroke:0 !important;
          margin-right: 0.5rem;
      }

      .cv-icon {    
          border: 3px solid;
          border-radius: 8px;
          -webkit-text-stroke: 0 !important;
          padding: 0.5rem;
          margin-right: 0.5rem;

          &.text-white{
            background-color: $primary;
            color: white;
          }
      }
  }

  .user-journey .touchpoint, .user-journey .chevron{
    font-size:2rem;
  }