@use '../custom' as *;

h1{
  .title-icon{
    border:6px solid;
    border-radius:8px;
    -webkit-text-stroke: 0 !important;
    margin-right: 0.5rem;
  }
}  

h2, h3 {
      display:flex;
      align-items:center;
    

      .title-icon {
          border: 3px solid;
          border-radius: 8px;
          -webkit-text-stroke:0 !important;
          margin-right: 0.5rem;
          // font-size: 90%;
      }

      .cv-icon {    
          border: 3px solid;
          border-radius: 8px;
          -webkit-text-stroke: 0 !important;
          padding: 0.25rem;
          margin-right: 0.5rem;
          font-size: 90%;

          &.text-white{
            background-color: $primary;
            color: white;
          }
      }
  }

  .user-journey .touchpoint, .user-journey .chevron{
    font-size: var(--fs-500);
  }