@use '../custom' as *;

  .hero-section h1 {
      .title-icon {
          font-size: 7rem;
          -webkit-text-stroke:0 !important;
      }
  }

  h2 {
      .title-icon {
          font-size: 5rem;
          -webkit-text-stroke: 0 !important;
      }
  }

  .title-icon{
    border: 3px solid $primary;
    border-radius:50%;
    padding:0.5rem;
    margin-right:1rem; 
  }