@use '../custom' as *;

.work-card{
    .img-fluid, .card-img {
        height: 100%;
        object-fit: cover;
    }

    .card-image{
        border-radius:0.375rem 0.375rem 0 0;
        @include media-breakpoint-up(md) {
            border-radius: 0.375rem 0 0 0.375rem;
        }
    }

    .card-img-overlay{
        background:linear-gradient(rgba(0,0,0,0.8), rgba(0, 0, 0, 0) );
        height:40%;
        border-radius: 0.375rem 0.375rem 0 0;
        
        @include media-breakpoint-up(md) {
            border-radius: 0.375rem 0 0 0.375rem;
            width: 50% !important;
        }
    }
}

.contact-card{
    padding:1.5rem;
}