@use '../custom' as *;

.work-card{
    .img-fluid {
        height: 100%;
        object-fit: cover;
    }

    .project-type {
        font-size: 1.4rem;
        border-radius: 50%;
        padding: 1rem;
        margin-left: 1.2rem;
        background-color: none !important;
        background-image: linear-gradient(140deg, $primary-100 0%, $primary-600 90%);
        color: $white;
    }

    .card-image{
        border-radius:0.375rem 0.375rem 0 0;
        @include media-breakpoint-up(md) {
            border-radius: 0.375rem 0 0 0.375rem;
        }
    }
}

.contact-card{
    padding:1.5rem;
}