@use '../custom' as *;

.work-card{
    max-width:clamp(320px, 100%, 560px);

    h3 {
            font-size: var(--fs-500);
            font-weight: 500;
            margin-top: min(1vh, 0.5rem);
        }

    h4{
        font-size:var(--fs-400);
        margin-top: min(2vh, 1rem);
    }

    .img-fluid, .card-img {
        height: 100%;
        object-fit: cover;
    }

    .card-body{
        background-image: linear-gradient(140deg, $primary-100 0%, $primary-300 84%);
        border-radius: 0 0 0.375rem 0.375rem;
    }

    .card-image{
        border-radius:0.375rem 0.375rem 0 0;
        @include media-breakpoint-up(md) {
            border-radius: 0.375rem 0 0 0.375rem;
        }
    }

    .card-img-overlay{
        background:linear-gradient(rgba(0,0,0,0.8), rgba(0, 0, 0, 0) );
        height:35%;
        border-radius: 0.375rem 0.375rem 0 0;
        
        @include media-breakpoint-up(md) {
            border-radius: 0.375rem 0.375rem 0 0;
            height:20%;
        }
    }

    &.active{
        opacity: 0;
        animation: fade-in 2s forwards;
    }
}

.contact-card{
    padding:1.5rem;
}