@use '../custom' as *;

:root{
    --ff-body:"Poppins", sans-serif;
    --ff-heading: "Poppins", sans-serif;

    --fs-xl: 5rem;
    --fs-700: 2.5rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
    --fs-300: 0.75rem;
}

@media(min-width:992px){
    :root {    
        --fs-xl: 7rem;
        --fs-700: 3rem;
        --fs-500: 2rem;
        --fs-400: 1.25rem;
        --fs-300: 1rem;
    }
}

body{
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    color:$primary-800;
}

h1 {
    color: $primary;
    font-size:var(--fs-xl);
    line-height:var(--fs-xl);
    font-weight: 800;
    text-transform:uppercase;

    span {
            &.text-transparent {
                color: $secondary;
            }
        }
}

h2 {
    font-size: var(--fs-700);
    margin-bottom: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;

    &:not(.bg-primary h2, .tldr h2){
        color: $primary;
    }

}

h3 {
    font-size: var(--fs-500);
    font-weight: 500;

    &:not(.bg-primary h3, .tldr h3) {
        color: $primary;
    }
}
    
h4 {
    font-size: var(--fs-400);
    font-weight: 500;
}

h5{
    font-size: var(--fs-300);
    font-weight: 300;
}

.tldr{
    h2{
        color: $secondary;
    }
}


.card-title{
    font-size: 1.25rem;
}

ul li,
ol li {
    margin-bottom: 0.5rem;
}