@use '../custom' as *;

html{
    font-family: "Poppins", sans-serif;
    color:$primary-900;
    font-size: calc(15px + 0.390625vw);
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: $primary-700;
    font-size:5rem;
    line-height:5rem;
    font-weight: 600;

    @include media-breakpoint-down(sm) {
        font-size: 3.25rem;
        line-height: 3.25rem;
    }
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    margin-bottom: 1.25rem;
    font-weight: 500;

    &:not(.bg-primary h2, .tldr h2){
        color: $primary-700;
    }

    @include media-breakpoint-down(md) {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}
    
h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

h5{
    font-size:1rem;
    font-weight: 400;
}

.tldr{
    h2{
        color: $secondary;
    }
}



.portfolio-title{
    span{
        margin-bottom:0;
        padding-top:0;
    }

    &--intro{
        font-family: 'Oswald', sans-serif;
        font-weight:700;
        padding-bottom:0;
        -webkit-text-stroke: 3px $primary-700;

        @include media-breakpoint-down(md) {
            -webkit-text-stroke: 1px $primary-700;
        }

        span {
            &.text-transparent {
                color: $white;
            }
        }
    }

    &--description{
        display:inline-block;
        padding-left:0.125rem;
        font-size:1.5rem;
        font-weight:400;

        @include media-breakpoint-down(md) {
            font-size: 1rem;
        }
    }

}

ul li,
ol li {
    margin-bottom: 0.5rem;
}