@use '../custom' as *;

:root{
    --ff-body:"Poppins", sans-serif;
    --ff-heading: "Poppins", sans-serif;

    --fs-xl: clamp(3.5rem, 12vw + 1rem, 8rem);
    --fs-700: 2.5rem;
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
    --fs-300: 0.75rem;
}

@media(min-width:1200px){
    :root {    
        --fs-700: 3.5rem;
        --fs-600: 2.75rem;
        --fs-500: 2rem;
        --fs-400: 1.125rem;
        --fs-300: 1rem;
    }
}

body{
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    color:$primary-800;
}

section{
   padding-block:min(10vh, 6rem); 
}

h1 {
    color: $primary;
    font-size:var(--fs-xl);
    line-height:1;
    font-weight: 800;
    text-transform:uppercase;

    span {
            &.text-transparent {
                color: $secondary;
            }
        }
}

h2 {
    font-size: var(--fs-700);
    margin-bottom: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom:min(10vh,2.5rem);

    &:not(.bg-primary h2, .tldr h2){
        color: $primary;
    }

}

h3 {
    font-size: var(--fs-500);
    font-weight: 700;
    margin-top:min(5vh, 2rem);

    &:not(.bg-primary h3, .tldr h3) {
        color: $primary;
    }
}
    
h4 {
    font-size: var(--fs-500);
    font-weight: 400;
    margin-top: min(5vh, 2.5rem);
}

h5{
    font-size: var(--fs-300);
    font-weight: 300;
}

 #cv-main {
    section {
        padding-block: min(2vh, 4rem);
    }

    h2{
        font-size: var(--fs-600);
        margin-bottom: 1.25rem;
        margin-top:min(5vh, 3rem);
        font-weight: 700;
    }
            
    h4{
        font-size: var(--fs-400);
        font-weight: 500;
        margin-top: min(5vh, 1.5rem);
    }
}

.tldr{
    h2{
        color: $secondary;
    }
}

ul,
ol{
    margin-bottom: 1.5rem;
}

li{
    margin-bottom: 0.5rem;
}