@use '../custom' as *;

body{
    font-family: "Poppins", sans-serif;
    color:$primary-700;
}

  h1 {
      font-family: 'Oswald', sans-serif;
      font-size:5rem;
      line-height: 6rem;
      font-weight: 600;
  }

  h2 {
      font-family: 'Oswald', sans-serif;
      font-size: 4rem;
      font-weight: 500;
      margin-bottom:3rem;
  }

  .tldr{
    h2{
        color: $secondary;
    }
  }

  h3 {
      font-size:2.5rem;
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
  }

  h4{
    font-size: 2rem;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
  }

.portfolio-title{
    span{
        margin-bottom:0;
        padding-top:0;
    }

    &--intro{
        font-family: 'Oswald', sans-serif;
        font-size:7rem;
        font-weight:700;
        padding-bottom:0;

        @include media-breakpoint-down(md) {
                font-size: 6rem;
            }
        
                @include media-breakpoint-down(sm) {
                    font-size: 5.5rem;
                }
    }

    &--description{
        display:inline-block;
        padding-left:0.25rem;
        font-size:1.5rem;
        font-weight:500;

        @include media-breakpoint-down(md) {
                font-size: 1.5rem;
            }
        
                @include media-breakpoint-down(sm) {
                    font-size: 1.25rem;
                }
    }

}

ul li,
ol li {
    margin-bottom: 0.5rem;
}