@use '../custom' as *;

.persona{
    
    @include media-breakpoint-up(sm) {
        border-radius: 8px;
    }

    .persona-img{
        width:100%;
        @include media-breakpoint-up(lg){
            width:75%;
        }
    }

    .persona-details{
        font-size: var(--fs-400);
        line-height: 1.25;

        p{
            margin-bottom:0.5rem;
        }
    }                    /*speech bubble styling*/

    .speech-bubble {
        font-size: var(--fs-500);
        position: relative;
        border-radius: 8px !important;
        background-color: $secondary;
        color: #ffffff;
        padding: 0.5rem;
    }

    .speech-bubble-bottom-left:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 0;
        height: 0;
        border: 2rem solid transparent;
        border-top-color: $secondary;
        border-bottom: 0;
        border-left: 0;
        margin-left: -1rem;
        margin-bottom: -1.5rem;
    }

    .speech-bubble-bottom-right:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 90%;
        width: 0;
        height: 0;
        border: 1.781rem solid transparent;
        border-top-color: #000000;
        border-bottom: 0;
        border-right: 0;
        margin-left: -0.891rem;
        margin-bottom: -1.781rem;
    }


        

    .meter {
        height: 1rem;
        position: relative;
        background: #ccc;
        border-radius: 25px;
    }

    .meter>span {
        display: block;
        height: 1rem;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: $secondary-100;
        position: relative;
        overflow: hidden;
    }
}